@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Regular (normal) */
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}

strong, b {
    font-weight: 700; 
}

.texto-bold {
    font-weight: 700; 
}


:root {

--primary-color: #890000;
--accent-color: #79102D;
--background-color: #D9D9D9;
--extra-color: #fff;

}



.header-area {
    position: relative; 
    height: 70px;
    width: 100%;
    background-color: #890000;
  
}


.hero-container {
    position: relative; 
    width: 100%;
}


.banner {
    max-width: 100%;
    height: auto;
    display: block; 
}


.header_title {
    position: absolute; 
    top: 216px;         
    left: 161px;        
    z-index: 10;        
    font-family: "Montserrat";
    font-size: 36px;
    color: #fff; 
}
 
.header_subtitle {
    position: absolute;
    top: 267px;         
    left: 161px;       
    z-index: 10;
    font-family: "Montserrat";
    font-size: 13px;
    color: #fff; 
}

.header_body {
    left: 50%;
    transform: translateX(0); 
    max-width: 900px; 
    margin: 40px auto; 
    font-family: "Montserrat";
    font-size: 15px;
}