@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}

strong, b {
    font-weight: 700; 
}

.texto-bold {
    font-weight: 700; 
}


:root {

--primary-color: #890000;
--accent-color: #79102D;
--background-color: #D9D9D9;
--extra-color: #fff;

}



.header-area {
    position: relative; 
    height: 50px;
    width: 100%;
    background-color: #890000;
  
}

.header_navegation{
    display: flex;
    gap: 50px;
    position: relative;
    top: 20px;
    left: 1600px;
   
    

}

.header_navegation a{

    color: #890000;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 15px 25px;
    display: inline-block;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 20px;


}

.header_navegation a:hover{

    color:#D9D9D9;
    border-radius: 5px;
    background: #79102D;
}

.logo {
    position: absolute;
    margin-top: 20px;
    height: 50px;
    left: 10px;
}

.hero-container {
    position: absolute; 
    width: 100%;
    margin-bottom: 0;
    z-index: 10;
}


.banner {
    position: relative;
    height: 500px;
    display: block; 
    margin-top: 45px;
    width: 100%;
    max-width: 100%;
}


.header_title {
    position: relative;
    text-align: left; 
    top: 216px;         
    left: 161px;        
    z-index: 10;        
    font-family: "Montserrat";
    font-size: 36px;
    color: #fff; 
}
 
.header_subtitle {
    position: relative;
    text-align: left;
    top: 180px;         
    left: 165px;       
    z-index: 10;
    font-family: "Montserrat";
    font-size: 13px;
    color: #fff; 
    margin: 0;
}

.header_body {
    position: relative;
    top: 50px;
    font-family: "Montserrat";
    font-size: 20px;
    color: black;
    margin: 0 auto;
    max-width: 900px;
    text-align: left;

}

.boton{

    
    position: relative;
    top: 100px;
    margin: 50px auto;
    font-size: 26px;
    font-family: "Montserrat";
    color:#890000;
    outline: 10px solid #890000;
    border-radius: 5px;
    padding: 20px 30px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;




}

.info {
    position: relative; 
    top: 320px;
    height: 50px;
    width: 100%;
    background-color: #79102D;
}